# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [102]:
SELECT COUNT(r.user_id) AS 'Number of Users Ratings Over Average Rating'
FROM BooksDB.dbo.ratings AS r
WHERE r.rating > (
    SELECT b.average_rating
    FROM BooksDB.dbo.books AS b
    WHERE b.book_id = r.book_id
    GROUP BY b.book_id, b.average_rating
    HAVING b.book_id = '3'
)

Number of Users Ratings Over Average Rating
23

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [1]:
SELECT TOP 20 ratings_1 AS 'ratings count', book_id, 'ratings_1' AS 'rating'
    FROM BooksDB.dbo.books
    WHERE ratings_1 > 1000
UNION
SELECT TOP 20 ratings_5, book_id, 'ratings_5'
    FROM BooksDB.dbo.books
    WHERE ratings_5 > 1000
ORDER BY book_id ASC

ratings count,book_id,rating
75504,3,ratings_1
3011543,3,ratings_5
6716,5,ratings_1
1266670,5,ratings_5
38031,34,ratings_1
1042394,34,ratings_5
77841,960,ratings_1
680175,960,ratings_5
54700,1885,ratings_1
1155673,1885,ratings_5
60427,2657,ratings_1
1714267,2657,ratings_5
86236,4671,ratings_1
947718,4671,ratings_5
109383,5107,ratings_1
709176,5107,ratings_5
41845,5470,ratings_1
908229,5470,ratings_5
46023,5907,ratings_1
1119718,5907,ratings_5
66854,7613,ratings_1
648912,7613,ratings_5
456191,41865,ratings_1
1355439,41865,ratings_5
45225,48855,ratings_1
875372,48855,ratings_5
34288,77203,ratings_1
929591,77203,ratings_5
54835,2429135,ratings_1
836050,2429135,ratings_5
66715,2767052,ratings_1
2706317,2767052,ratings_5
10492,6148028,ratings_1
980309,6148028,ratings_5
30144,7260188,ratings_1
738775,7260188,ratings_5
47994,11870085,ratings_1
1311871,11870085,ratings_5
36315,13335037,ratings_1
1114304,13335037,ratings_5

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [2]:
SELECT TOP 20 book_id
    FROM BooksDB.dbo.books
    WHERE ratings_1 > 1000
INTERSECT
SELECT TOP 20 book_id
    FROM BooksDB.dbo.books
    WHERE ratings_5 > 1000
ORDER BY book_id ASC

book_id
3
5
34
960
1885
2657
4671
5107
5470
5907
7613
41865
48855
77203
2429135
2767052
6148028
7260188
11870085
13335037

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [3]:
SELECT TOP 20 book_id
    FROM BooksDB.dbo.books
    WHERE language_code = 'en-US'
EXCEPT
SELECT TOP 20 book_id
    FROM BooksDB.dbo.books
    WHERE language_code = 'en-GB'
ORDER BY book_id ASC

book_id
11
1202
1934
2187
3473
5907
18131
21787
37435
41865
113436
137791
168668
231804
428263
1162543
1656001
3777732
6442769
9460487

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [196]:
SELECT tag_name, tag_id
FROM BooksDB.dbo.tags
WHERE tag_id = (SELECT tag_id
    FROM BooksDB.dbo.book_tags
    WHERE count > 100000
    GROUP BY tag_id);

tag_name,tag_id
to-read,30574